<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">添加警报</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
      通过在任意仪表盘中面板的<strong>警报选项卡</strong>中添加和配置警报规则，让您使用现有的查询语句构建和可视化警报。
			<br> <br>
			要保存警报规则，请记住保存仪表盘。
			<br>
			<br>
		</p>
	</div>

</div>

