<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">

	<div class="grafana-info-box span8" style="margin: 20px 0 25px 0">
		系统设置定义在grafana.ini或custom.ini中(也可能通过ENV环境变量被覆盖了).
		为使修改生效，需要重启Grafana.
	</div>

	<table class="filter-table">
		<tr ng-repeat-start="(secName, secValue) in settings">
			<td class="admin-settings-section">{{secName}}</td>
			<td></td>
		</tr>
		<tr ng-repeat="(keyName, keyValue) in secValue" ng-repeat-end>
			<td style="padding-left: 25px;">{{keyName}}</td>
			<td>{{keyValue}}</td>
		</tr>
	</table>
</div>



