<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th>名称</th>
				<th>当前数量</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>仪表盘数</td>
				<td>{{ctrl.stats.dashboards}}</td>
			</tr>
			<tr>
				<td>成员数</td>
				<td>{{ctrl.stats.users}}</td>
			</tr>
			<tr>
				<td>活跃用户数(近14天)</td>
				<td>{{ctrl.stats.activeUsers}}</td>
			</tr>
			<tr>
				<td>组织数</td>
				<td>{{ctrl.stats.orgs}}</td>
			</tr>
			<tr>
				<td>数据源数</td>
				<td>{{ctrl.stats.datasources}}</td>
			</tr>
			<tr>
				<td>播单数</td>
				<td>{{ctrl.stats.playlists}}</td>
			</tr>
			<tr>
				<td>快照数</td>
				<td>{{ctrl.stats.snapshots}}</td>
			</tr>
			<tr>
				<td>仪表盘标签数</td>
				<td>{{ctrl.stats.tags}}</td>
			</tr>
			<tr>
				<td>仪表盘收藏数</td>
				<td>{{ctrl.stats.stars}}</td>
			</tr>
      <tr>
				<td>警报数</td>
				<td>{{ctrl.stats.alerts}}</td>
			</tr>
		</tbody>
	</table>
</div>
