<!-- This email is sent when an existing user is added to an organization -->

[[Subject .Subject "[[.InvitedBy]] 已将你加入 [[.OrgName]] 组织"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4 class="center">你已被添加入 [[.OrgName]]</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p><b>[[.InvitedBy]]</b> 已将你加入 <b>[[.OrgName]]</b> 位于Grafana中的组织.
						<p>一旦登录, [[.OrgName]] 将可见于左侧的菜单栏, 以及你的用户名下拉菜单中.</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td class="center">
						<table class="better-button" align="center" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="center" class="better-button" bgcolor="#ff8f2b"><a href="[[.AppUrl]]" target="_blank">现在登录</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


