[[Subject .Subject "重置你的Grafana密码 - [[.Name]]"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>你好，[[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							请在 <b>[[.EmailCodeValidHours]] 小时内，点击下方链接重置你的账号密码</b>.
						</p>
						<p>
							<a href="[[.AppUrl]]user/password/reset?code=[[.Code]]">[[.AppUrl]]user/password/reset?code=[[.Code]]</a>
						</p>
						<p>没有反应? 尝试复制/粘贴链接到你的浏览器中打开.</p>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>


