[[Subject .Subject "欢迎来到 Grafana"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>你好，[[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						欢迎! 准备好开始构建酷炫的指标和分析仪表板了吗?
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							如果你是Grafana新手,可以阅读 <a href="http://docs.grafana.org/guides/gettingstarted/">快速上手</a> 指南.
						</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						感谢加入我们的社区.
						<br />
						<p>Grafana团队</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


